.place {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 80px;
  background-color: red;
}

.place__content {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  margin: auto;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:
    "title artist"
    "image texto"
    "button texto";
  padding-bottom: 80px;
}

.place__content-titlte {
  grid-area: title;
  font-family: "Inter", sans-serif;
  font-size: 74px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.place__content-artistas {
  grid-area: artist;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  color: #ffffff;
  margin: 0;
  align-self: end;
}

.place__content-artistas-title {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: left;
  text-underline-position: from-font;
  color: #aaaaaa;
}

.place__content-img {
  grid-area: image;
  width: 460px;
  height: 460px;
  box-shadow: 10px 10px 25px;
  color: #000;
}

.place__content-paragraphs {
  grid-area: texto;
}

.place__content-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 29.34px;
  text-align: left;
  color: #ffffff;
}

.place__content_mod_padding {
  padding-bottom: 90px;
}

.place__content-button {
  grid-area: button;
  width: 289px;
  height: 48px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  text-decoration-skip-ink: none;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px #000;
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place__content-img:hover {
  opacity: 0.5;
}
.place__content-button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .place__content {
    grid-template-columns: 340px 1fr;
    max-width: 720px;
    column-gap: 28px;
    row-gap: 48px;
    padding-bottom: 72px;
  }

  .place__content-titlte {
    font-size: 42px;
    line-height: 46px;
  }

  .place__content-img {
    width: 340px;
    height: 340px;
  }

  .place__content-paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .place__content {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding-bottom: 50px;
    gap: 0;
    align-items: center;
  }

  .place__content-titlte {
    font-size: 32px;
    line-height: 35px;
    align-self: start;

  }

  .place__content-artistas{
    padding: 30px 0 30px;
    align-self: start;
  }

  .place__content-img {
    width: 320px;
    height: 320px;
  }

  .place__content-paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }

  .place__content-paragraphs {
    padding: 30px 0 30px;
  }
}
